@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
:root{
    --primary-dark : #03045e;
    --primary-light: #00b4d8;
}

body{
    background-color: var(--primary-dark);
    color: var(--primary-light);
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vw;
    padding: 2rem;
    max-width: 500px;
}

label{
    margin-bottom: 1vw;
}

input{
    width: 80%;
}

button{
    width: 30%;
    max-width: 80px;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-weight: bold;
    border-color: var(--primary-dark);
}

input, button{
    margin: auto;
    margin-bottom: 2vw;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: 'Acme', sans-serif;
}

textarea{
    resize: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 80%;
    font-family: 'Acme', sans-serif;
    margin: auto;
}

input, textarea{
    border: none;
    background-color: white;
    color: var(--primary-dark);
}
button:hover{
    background-color: #90e0ef;
}

hr{
    max-width: 550px;
}

footer p{
    letter-spacing: 0.2vw;
}

a{
    color: var(--primary-light);
    padding: 0.5rem 0.7rem;
}

.social-link{
    text-decoration: none;
    margin: 0rem 0.5rem;
}

a:hover{
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border-radius: 0.5rem;
}